@import url('https://fonts.googleapis.com/css?family=PT+Sans');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    vertical-align: baseline;
}

.rain {
    background-color: #183152;
    background-size: cover;
}

.clouds {
    background-color: #6191A8;
    background-size: cover;
}

.clear {
    background-color: #FFD470;
    background-size: cover;
}

.snow {
    background-color: #E4EEF0;

    background-size: cover;
}

.mist {
    background-color: #BBCFDA;
    background-size: cover;
}

.drizzle {
    background-color: #A6A5A1;
    background-size: cover;
}

body {
    font-family: 'PT sans', serif;
    height: 100vh;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    text-align: center;
    justify-content: center;
    color: #5E3F50;
    display: flex;
}

h1 {
    font-size: 3.5em;
}


i {
    font-size: 3em;
    margin-bottom: 15px;
}
